body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: "Raleway", sans-serif;
  background: linear-gradient(270deg, #674e7e 0%, #354870 100%);
}

h1 {
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
}

.container {
  margin: 30px;
  width: 200px;
  position: relative;
  overflow: hidden;
  &:hover .shine {
    transform: skewX(20deg) translateX(300px);
  }
}

.hello {
  border: 0;
  padding: 30px 15px;
  width: 200px;
  background: #5270af;
  color: white;
  font-size: 2em;
  font-weight: bold;
  transition: background 0.3s linear;
  letter-spacing: 2px;
  border-radius: 10px;
  cursor: pointer;
}

.shine {
  position: absolute;
  top: 0;
  left: -70px;
  height: 98px;
  width: 50px;
  background: rgba(255, 255, 255, 0.4);
  transition: all 0.3s linear;
  transform: skewX(20deg) translateX(0);
}

a {
  text-decoration: none;
  color: whitesmoke;
}
