.btnn {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 8px 50px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 2px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  font-weight: bold;
  margin: 5px 0px;
}

.btnn.green {
  border: 4px solid #fc6ffc;
  color: black;
}

.btnn.green:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: #eeb8e7;
  z-index: -1;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.btnn.green:hover {
  color: white;
  background: #fffd84;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.btnn.green:hover:before {
  width: 100%;
}

.sidebar {
  height: 100%;
  width: 12%;
  position: fixed;
  z-index: 1;
  left: 0;
  overflow: visible;
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.589);
}

/* Style sidebar links */
.sidebar a {
  margin-bottom: 1rem;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bolder;
  color: #ffffff;
  display: block;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #000000;
  background-color: white;
}

/* Style the main content */
.main {
  margin-left: 160px;
  /* Same as the width of the sidenav */
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

.header {
  font-size: 1rem;
  font-weight: bolder;
}

div.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

div.showPwd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#showPwd {
  margin: 1rem;
}

.city,
.town {
  margin-right: 0.5rem;
}

div.address {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.form-text {
  color: silver;
  font-style: italic;
}

.bg-linear {
  background: -webkit-gradient(linear, right top, left top, from(#674e7e), to(#354870));
  background: linear-gradient(270deg, #674e7e 0%, #354870 100%);
}

.bg-linear2 {
  background: -webkit-gradient(linear, right top, left top, from(#674e7e3f), to(#35487062));
  background: linear-gradient(270deg, #674e7e3f 0%, #35487062 100%);
}

.typewriter {
  background-color: #fff;
  min-width: 500px;
  padding: 1em 2em 1em 1.5em;
  border: solid 1px #e6e6e6;
  border-radius: 2.8em;
  -webkit-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.25);
  margin: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.typewriter svg {
  padding-right: 2em;
}

.typewriter h1 {
  color: #000;
  font-size: 1.5em;
  font-weight: 500;
  width: 0;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  overflow: hidden;
  border-right: 0.05em solid #464545;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0;
  /* Gives that scrolling effect as the typing happens */
}

.typing-erase {
  -webkit-animation: 4s typing-erase 4s steps(50, end) infinite, blink-caret 0.5s step-end infinite;
          animation: 4s typing-erase 4s steps(50, end) infinite, blink-caret 0.5s step-end infinite;
}

/* The type and erase effect */
@-webkit-keyframes typing-erase {
  0% {
    width: 0;
  }
  80% {
    width: 100%;
  }
  90%,
  100% {
    width: 0;
  }
}
@keyframes typing-erase {
  0% {
    width: 0;
  }
  80% {
    width: 100%;
  }
  90%,
  100% {
    width: 0;
  }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: gray;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: gray;
  }
}
/*# sourceMappingURL=employee.css.map */