@import "./bubble.scss";

.header {
  font-size: 1rem;
  font-weight: bolder;
}

.bg-linear {
  background: linear-gradient(270deg, #674e7e 0%, #354870 100%);
}
.bg-linear2 {
  background: linear-gradient(270deg, #674e7e3f 0%, #35487062 100%);
}
